{templateType App\FrontModule\Templates\BaseTemplate}

<div n:if="count($flashes) > 0" class="fixed top-0 left-0 w-full z-100">
	<div
        n:foreach="$flashes as $flash"
        role="alertdialog"
        aria-label="{$flash->message|stripHtml}"
        class="flash-message container-xl py-8 text-center cursor-pointer"
        title="{_FlashMessages.closePrompt}"
    >
        {$flash->message|nbsp|noescape}
    </div>
</div>