<div class="relative group cursor-pointer">
    <div class="relative z-20 h-[100px] w-[24px] text-white group-hover:text-green transition-all">
        {element Icon,
            key: scroll
        }
    </div>
    <div class="absolute z-10 -translate-x-1/2 translate-y-[35%] bottom-0 left-1/2 w-[64px] h-[64px] rounded-full bg-yellow opacity-0 group-hover:opacity-100 transition-all"></div>
</div>