parameters:
    contact:
        email: 'info@accz.eu'
        phone: ''
        title: 'Automobile Centre'
        name: ''
        street: ''
        city: ''
        postCode: ''
        country: ''
        ic: ''
        dic: ''