menu:
	title: Menu
	items:
		servis: Olejový servis
		recycle: Třídím olej
		about: O Trafin Oil
		oil: Náš olej
		contact: Kontakt
other:
	title: Další odkay
	items:
		terms: Obchodní podmínky
		gdpr: Ochrana osobních údajů
		cookies: Cookies
		docs: Dokumenty