service:
	title: Olejový servis
	items:
		service: Olejový servis
		take-in: Přivezeme
		take-out: Odvezeme
		why: Proč
		how: Jak to funguje
recycle: Třídím olej
about: O Trafin Oil
why: Proč třídit olej
contact: Kontakt
career: Kariéra
locale:
	en: EN
	cs: CZ